# @Author: wang xue
# @Description: .dockerignore 文件中指定在传递给 docker引擎 时需要忽略掉的文件或文件夹

.DS_Store
node_modules
/dist

# Editor directories
.idea
.vscode

# Project directories
.git
.cache

# config files
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc.js
LICENSE

# other files
*.md
