# @Author: wang xue
# @Description: .dockerignore 文件中指定在传递给 docker引擎 时需要忽略掉的文件或文件夹

# 要忽略的文件夹
.git
.vscode
.cache
node_modules

# 要忽略的文件
*.md
LICENSE
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc.js
