# @Author: wang xue
# @Description: .prettierignore 文件中指定需要忽略格式化的文件或文件夹

.DS_Store
node_modules
/dist

# Editor directories
.idea
.vscode

# Project directories
.git
.cache
nginx
public

# local env files
.env
.env.*

# config files
.browserslistrc
.dockerignore
.editorconfig
.eslintignore
.gitignore
.prettierignore
Dockerfile
LICENSE

# resource files
*.svg

# other files
*.md
